<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fast API 🤗 Space served with Uvicorn</title>
    <link rel="stylesheet" href="static/style.css" />
    <script type="module" src="static/script.js"></script>
  </head>
  <body>
    <main>
      <section>
        <h2>Welcome to NotionGPT</h2>
        <p>
          Explore:
          <a
            href="https://disciple0-notiongpt.hf.space/explore"
            rel="noreferrer"
            target="_blank"
            >NotionGPT
          </a>
        </p>
        <!-- <form action="https://disciple0-notiongpt.hf.space/explore">
          <input type="submit" value="Explore NotionGPT" />
        </form> -->
      </section>
    </main>
  </body>
</html>